# LaTeX auxiliary files
*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.synctex
*.nav
*.snm
*.vrb

# PDF output
*.pdf

# Temporary files
*.dvi
*.ps

# Backup files
*.bak
*.backup
*~

.DS_Store
node_modules
dist
tmp
/public/
/resources/_gen/

hugo.exe
hugo.linux
hugo.darwin
